*{
    box-sizing: border-box;
}
body{
    background-color:#333;
    backdrop-filter: 10px;
}
.logo{
    text-align: center;
    margin-top:0;
    /* background-color: rgba(0,0,0,0.3); */
    background-color: rgba(255, 255, 255, 0.2);
    filter: brightness(0.9);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
        
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
   
    
}
.logo a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 22px;
    
}
.logo a:hover{
    color: #a6f4f4;
    transition: ease-in-out 0.3s;
}
.p{
    text-align: left;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    word-wrap: normal;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 40px;
    color: whitesmoke;
    
}
.p h1{
    font-size: 28px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    .p{
        text-align: left;
        font-size: 18px;
        word-spacing: 10px;
        line-height: 40px;
        
    }
    .logo a{
        font-size: 18px;
    }
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
}