body{
    background-color:#333;
    backdrop-filter: 10px;
}
.logo{
    text-align: center;
    margin-top: 25px;
    /* background-color: rgba(0,0,0,0.3); */
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
        
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
   
    
}
.logo a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 30px;
    
}
.p{
    text-align: center;
    font-size: 24px;
    margin: 15px;
    padding: 10px;
    word-wrap: normal;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 40px;
    color: whitesmoke;
    
}
.p h1{
    font-size: 28px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    .p{
        text-align: center;
        font-size: 25px;
        word-spacing: 10px;
        line-height: 40px;
        
    }
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
}