

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    border: rgba(255,0,0,0.5);
    transition: backgroun 0.3s ease backdrop-filter 0.3s ease;
    z-index: 1;
    
}
.scrolled{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.logo{
    font-size: 20px;
    
        font-family: "Atma", system-ui;
        font-weight: 300;
        font-style: normal;
      
      
      
        font-family: "Atma", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
      
        font-family: "Atma", system-ui;
        font-weight: 500;
        font-style: normal;
      
      
      
        font-family: "Atma", system-ui;
        font-weight: 600;
        font-style: normal;
      
      
      
        font-family: "Atma", system-ui;
        font-weight: 700;
        font-style: normal;
      
      
      
}
nav{
    position: relative;
    display: flex;
    align-items: center;
    
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    color: #ffc400;
}
nav ul li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc400;
    left:0;
    bottom: -5px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: -1;
    border-radius: 5px;
}
nav ul li a:hover::before{
    width: 100%;

}

.lg{
    background-color: darkred;
    color:whitesmoke;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
}
.toggle-menu{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
    
}
@media screen and (max-width:767px) {
    .toggle-menu{
        display: block;
    }
    nav ul{
        display: none;
        position: absolute;
        top: 60px;
        right: 10px;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
        padding: 10px;
        width: 170px;
    }
    nav ul.active{
        display: flex;
    }
}




#banner{
    background: url(cover.jpg) no-repeat center center/cover;
    height: 80vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 10px;
}
.banner-content h1{
    font-family: 0.2rem;
    color: yellow;
}
.banner-content p{
    font-size: 1rem;
}


 .btn{
    background-color: yellow;
    border:none;
    border-radius: 10px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s ease-in;

}
.btn a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.btn:hover{
    background-color:#ddd;
    color: whitesmoke;
    transform: scale(1.04);
} 
@media screen and (max-width:767px) {
    .banner-content h1{
        font-family: 0.3rem;
        font-size: 1.8rem;

        
    }
    .banner-content p{
        font-size: 0.9rem;
    }
    .btn a {
                font-size: 16px;
        }

    
}
#about {
    
    display: flex;
    justify-content: center;
    
   
   
    

}
#abouts{
    display: flex;
    justify-content: center;
    align-items: center;
  
   

}
#about p{
    font-size: 2rem;
    justify-content: center;
    border: 1px solid #e4b3b3;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    width:100%;
    
    background-color: #ddd;
    
    
    
    
}
#about p:hover{
    box-shadow: 5px 5px 70px rgb(222, 136, 25);
}
#about p:active{
 
    box-shadow: 5px 5px 70px burlywood;
}
@media screen and (max-width:767px) {
   #about p{
    width: 100%;
    font-size: 1rem;
   }
  
    
}
.hd{
    text-align: center;
}
#menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    z-index: -1;
   
        font-family: "Atma", system-ui;
        font-weight: 300;
        font-style: normal;
      
      
      
        font-family: "Atma", system-ui;
        font-weight: 400;
        font-style: normal;
      
      
 
        font-family: "Atma", system-ui;
        font-weight: 500;
        font-style: normal;
      
      
     
        font-family: "Atma", system-ui;
        font-weight: 600;
        font-style: normal;
    
      
      
        font-family: "Atma", system-ui;
        font-weight: 700;
        font-style: normal;
      
      
      
      
 
      
     
      
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
}
.card{
    position: relative;
    display:flex;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 10px;
   
    background: white;
    overflow: hidden;
    transition: 0.3s ease-in-out;

}
.card:hover{
    cursor: pointer;
    transform: scale(1.04);
   

}
.card img{
    width: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.card img:hover{
    transform: scale(1.04);
   
}
.card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3 ease;

}
.card {
    position: relative; /* Parent element relative */
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    background: white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}



.card:hover .overlay{
    opacity: 1;
}
.name{
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    font-size: 18px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 5px;
    font-family: "Atma", system-ui;
 
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
  
    font-style: normal;
  
  

    font-family: "Atma", system-ui;
   
    font-style: normal;
  
  
 
    font-family: "Atma", system-ui;
    
    font-style: normal;

  
  
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal
}
@media screen and (max-width:767px) {
    #menu-items{
        flex-direction: column;
        
    }
    .card{
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    nav ul li{
        margin: 0 7px;
    }
    nav ul li a{
        font-size: 18px;
    }
    .logo{
        font-size: 17px;
    }

}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    
    
}
.nam{
    margin-top: 20px;
    margin-bottom: 17px;
}
.comment textarea{
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
form{
    width: 300px;
    box-shadow:0 0 10px black;
    background-color: whitesmoke;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
}
input{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #ddd;
}

label{
    display: block;
    line-height: 50px;
    font-size: 20px;  
    text-shadow:0 0 70px whitesmoke;
    color: rgb(28, 76, 167);
}
.comment button{
    margin-bottom: 20px;
    border: none;
    background-color: #ffc400;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    padding: 8px;
    padding-left: 70px;
    padding-right: 70px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.comment button:hover{
    background-color: #333;
    color: white;
    transform: scale(1.04);
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(57, 57, 66);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
      
       
      
      
      
       
      
      
}
.contact-info p{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width:767px) {
    .contact-info p{
        
        font-size: 12px;
       
    }
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:grey;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width:767px) {
    footer{
        font-size: 12px;
    }
    
}
.bot{
    display: flex;
    flex-wrap: wrap;
}
.bot a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: yellow;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    transition: .3s ease-in-out;
}
