*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #274353;;
}
.logo{
    text-align: center;
    margin-top: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    border: 1px solid whitesmoke;
    backdrop-filter:blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 10);
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
  
  
  
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
   
    
}
.logo a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 30px;
    
    
}
.name{
    text-align: center;
    margin: 25px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.prent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #274353; */
    /* width: 250px; */
    border-radius: 10px;
}

.child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    margin: 30px;
    /* background-color: #274353; */
    background: linear-gradient(135deg, #4267df 0%, #4ba0a2 60%, #00ff91 100%);
    padding: 40px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    width: 350px;
    color: whitesmoke;
    transition: 0.3s ease;
    box-shadow: 0 0 20px black;
   

}
.child img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px dotted #00ff91;
    
}
.child img:hover {
    transition: .3s ease-in-out;
    filter: grayscale(50%);
    cursor: pointer;
    
}
.child:hover{
    cursor: pointer;
    transition: .3s ease-in-out;
   transform: scale(1.1);
}
.prent button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: none;
    background:#ddd ;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    font-size: 15px;
    transition: .3s ease;
    

}

.prent button:hover{
    transform: translateX(.4);
    background-color: #8778;
    color: whitesmoke;
}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    
    
}
.nam{
    margin-top: 20px;
    margin-bottom: 17px;
}
.comment textarea{
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
   
}
form{
    width: 300px;
    box-shadow:0 0 10px black;
    /* background-color: whitesmoke; */
    background: linear-gradient(135deg, #381e35e2, #4f0814c7, #bc0e0ec7);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgb(184, 193, 192);
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    color: whitesmoke;
}
input{
    border: none;
    padding: 6px;
    background-color: #ddd;
    border-radius: 5px;
}

label{
    display: block;
    line-height: 50px;
    font-size: 20px;  
    text-shadow:0 0 70px whitesmoke;
    color: whitesmoke;
    font-weight: bold;
}
.comment button{
    margin-bottom: 20px;
    border: none;
    background-color: #ffc400;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    padding: 8px;
    padding-left: 70px;
    padding-right: 70px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.comment button:hover{
    background-color: #333;
    color: white;
    transform: scale(1.04);
}
footer{
    background-color: #555;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}
@media screen and (max-width:769px) {
    .child{
        width: 60.5%;
        font-size: 18px;
        flex-direction: column;
       
    }
    .logo a{
        font-size: 18px;
    }
    footer{
        font-size: 12px;
    }
    .btn button{
        font-size: 12px;
    }
}

