* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    background-color: #081b29;
    color: white;
    margin-top: 50px;
    
} 
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-size: 2.5rem;
    color: #ffd900;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header ul {
    display: none;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}
.header ul li {
    font-size: 1.5rem;
    color: #ffd900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.header ul li a{
    text-decoration: none;
    color: whitesmoke;
}
main {
    margin: 60px;
    margin-top: 200px;
    padding: 20px;
    background-color: #081b29;
    box-shadow: 0 0 10px #00ffbb;
    border-radius: 20px;
    margin-bottom: 100px;
   
}


.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.skill h3{
    font-size: 2rem;
    margin-bottom: 30px;
}

.h1 h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

.h1 p {
    color: #ffd900;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .header{
        margin-bottom: 200px;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header ul {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header ul li {
        font-size: 1.2rem;
    }
    main {
        margin-top: 200px;
        margin: 20px;
        padding: 10px;
    }
    .h1 h1 {
        font-size: 2rem;
    }
    .h1 p {
        font-size: 1rem;
    }
    
}





.height{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.bar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
    margin: 0 40px;
}
.bar1 p{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bg{
    width: 70%;
    height: 7px;
    background-color: white;
    border-radius: 10px;
   
}
.bg .bar2{
    width: 0;
    height: 100%;
    background-color: #00ffbb;
    border-radius: 10px;
    animation: fill2 2s ease-in-out forwards;
}
.bg .bar3{
    width: 0;
    height: 100%;
    background-color: #00ffbb;
    border-radius: 10px;
    animation: fill3 2s ease-in-out forwards;
}
.bg .bar4{
    width: 0;
    height: 100%;
    background-color: #00ffbb;
    border-radius: 10px;
    animation: fill4 2s ease-in-out forwards;
}
.bg .bar5{
    width: 0;
    height: 100%;
    background-color: #00ffbb;
    border-radius: 10px;
    animation: fill5 2s ease-in-out forwards;
}
.bg .bar6{
    width: 0;
    height: 100%;
    background-color: #00ffbb;
    border-radius: 10px;
    animation: fill6 2s ease-in-out forwards;
}
@keyframes fill6 {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
@keyframes fill5 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes fill4 {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}
@keyframes fill3 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes fill2 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .bar1{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .bar1 p{
        font-size: 1.2rem;
    }
    .bg{
        width: 100%;
    }
    
    
}